

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root
{
  --dark-background: #1f2937;
  --main-text-size: 4.8rem;
  --main-text-color: #f9faf8;
  --secondary-text-size: 1.8rem;
  --secondary-text-color: #e5e7eb;
  --header-logo-size: 2rem;
  --button-color: #3883f6;
  --information-size: 3.6rem;
}

html
{
  font-size: 62.5%;
}

body
{
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.header
{
  background-color: var(--dark-background);
  height: 30px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header a
{
  position: relative;
  top: 15px;
  left: 7px;
}

.header .header-nav
{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-right: 15%;
}

#logo
{
  font-size: var(--header-logo-size);
  font-weight: 700;
  margin-right: 25%;
}

a
{
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
}

.header .header-nav a:hover
{
  color: #3883f6;
}

button
{
  background-color: var(--button-color);  
  border-radius: 1rem;
  font-size: 0.5rem;
  width: 130px;
  height: 35px;
  border-color: var(--button-color);
}

button:hover
{
  background-color: var(--dark-background);  
}

main
{
  width: 100vw;
  height: 1000px;
}

h1
{
  font-size: var(--main-text-size);
  font-weight: 900;
  color: var(--main-text-color)
}

figure
{
  width: 450px;
  height: 220px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure span
{
  color: var(--main-text-color);
  font-size: 2rem;
}

.section1
{
  background-color: var(--dark-background);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.section1 .container-section1
{
  display: flex;
  justify-content: space-between;
  gap: 90px;
  position: absolute;
  left: 235px;
}

.section1 .container-section1 .text-button
{
  width: 350px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.section1 .container-section1 p
{
  font-size: 1.8rem;
  color: var(--secondary-text-color);
  font-weight: 300;
}

.section2
{
  background-color: var(--main-text-color);
  height:420px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.section2 h2
{
  font-size: 3.6rem;
  font-weight: 900;
  color: var(--dark-background);
  position: relative;
  bottom: 40px;
}


.container-divs
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  bottom: 40px;
}

.container-divs div
{
  width: 150px;
  height: 150px;
  border: 2px solid var(--button-color);
  border-radius: 15px;
}

.container-divs div p
{
  position: relative;
  top: 160px;
  text-align: center;
  font-size: 1rem;
  color: gray;
}


.section3
{
  background-color: var(--secondary-text-color);
  height: 400px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section3 div
{
  width: 50vw;
}

.section3 p
{
  font-size: 3.6rem;
  font-weight: 200;
  text-align: left;
  color: var(--dark-background);
  position: relative;
  left: 30px;
}

.section3 b p
{
  color: var(--dark-background);
  font-weight: 700;
  font-size: 2rem;
  position: relative;
  left: 250px;
  top: 5px;
}


.section4
{
  background-color: var(--main-text-color);
  height: 300px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section4 .container
{
  height: 150px;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: var(--button-color);
  border-radius: 10px;

}

.section4 div .text-1
{
  color: var(--main-text-color);
  font-size: 2.5rem;
  font-weight: 700;
}

.section4 div .text-2
{
  color: var(--main-text-color);
  font-size: 1rem;
  font-weight: 300;
}

.section4 div button
{
  border-color: var(--main-text-color);
}

.section4 div button:hover
{
  border-color: var(--dark-background);
  background-color: var(--button-color);
}


footer
{
  background-color: var(--dark-background);
  height: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p
{
  font-size: 1.8rem;
  color: var(--main-text-color)
}